<section class="content">
    <h1 style="text-align: center;">Registro De Productos</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="box-body">
                <div class="form-group">
                    <label>Codigo:</label>
                    <input class="form-control">
                </div>
                <div class="form-group">
                    <label>Marca:</label>
                    <input class="form-control">
                </div>
                <div class="form-group">
                    <label>Fecha Registro:</label>
                    <input type="date" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box-body">
                <div class="form-group">
                    <label>Descripcion:</label>
                    <input class="form-control">
                </div>
                <div class="form-group">
                    <label>Cantidad:</label>
                    <input class="form-control">
                </div>
                <div class="form-group">
                    <label>Categoria</label>
                    <select class="form-control">
                        <option value="">Seleccionar</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <button class="btn btn-primary form-control">Registrar</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger form-control">Cancelar</button>
        </div>
        <div class="col-md-3"></div>
    </div>
</section>
