<section class="content">
    <h2 style="text-align: center;">Registro De Docentes</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="box-body">
                <div class="form-group">
                    <label>Identificacion:</label>
                    <input class="form-control">
                </div>
                <div class="form-group">
                    <label>Apellido:</label>
                    <input class="form-control">
                </div>
                <div class="form-group">
                    <label>Codigo Asignatura:</label>
                    <div class="input-group">
                        <input class="form-control">
                        <button class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box-body">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input class="form-control">
                </div>
                <div class="form-group">
                    <label>Programa:</label>
                    <input class="form-control">
                </div>
                <div class="form-group">
                    <label>Nombre Asignatura</label>
                    <input readonly class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-12"><br></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <button class="btn btn-primary form-control">Registrar</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-danger form-control">Cancelar</button>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-12"><br></div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Docentes</h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box-body">
                            <div class="input-group">
                                <input placeholder="Buscar" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Identificacion</th>
                                <th>Nombre y Apellido</th>
                                <th>Programa</th>
                                <th>Codigo Asignatura</th>
                                <th>Nombre Asignatura</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
